[Desktop Entry]
Type=Application
Name=NetworkManager F5 VPN with SSO
Exec=nm-f5vpn-sso %u
MimeType=x-scheme-handler/f5-vpn;
NoDisplay=true
StartupNotify=false
